<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="Name" >
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="Stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>


    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <ng-container matColumnDef="CreatedDate">
      <th mat-header-cell *matHeaderCellDef> CreatedDate </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>


    <ng-container matColumnDef="UpdatedDate">
      <th mat-header-cell *matHeaderCellDef> UpdatedDate </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <img src="./../../../../../assets/Edit.png" width="20" height="20"></td>
    </ng-container>


    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef></th>
 <td mat-cell  [id]="element.id" *matCellDef="let element" appDelete  (callback)="getProducts()"> <!-- <img src="./../../../../../assets/Delete.png" width="20" height="20" data-id="{{element.id}}" (click)="delete(element.id,$event)"></td> -->
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="pageChanged()"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
